{% extends 'base.html' %}

{% block title %}
    Создать игру
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game-style.css') }}">
{% endblock %}

{% block body %}
    <header>
        <h1 style="width:380px">Токен:{{token}}</h1>
    </header>
    <main>
        <div class="left-panel">
            <label class="left-panel-item">
                <p class="section-title">Блокнот</p>
                <textarea class="note"></textarea>
            </label>
            <div class="left-panel-item chips">
                <p class="section-title">Фишки</p>
                <div class="chips-container">
                    <img src="{{ url_for('static', filename='images/chips/white-chip.svg') }}" class="chip"
                     id="white-chip" alt="white-chip" name="chip" style="width: 100px; height:100px;">
                <img src="{{ url_for('static', filename='images/chips/black-chip.svg') }}" class="chip"
                     id="black-chip" alt="white-chip" name="chip" style="width: 100px; height:100px;">
                </div>
            </div>
            <form class="left-panel-item">
                <p class="section-title">Игроки</p>
            </form>
        </div>
        <!--<div class="resizer"></div> -->
        <div class="field">
            <img src="{{ url_for('static', filename='images/backgroundPlayerField.svg') }}" style="height:884px; border-radius:20px;">
             <textarea id="inputQuality" placeholder="Введите приоритетное качество..."></textarea>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/moveChip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/resizerController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateUsers.js') }}"></script>
{% endblock %}